<app-loader *ngIf="isLoading"></app-loader>
<mat-card class="container">
    <mat-card-subtitle class="card-subtitle">
        <div class="container-filters">

            <div class="selectors">
                <mat-label>Filtrar</mat-label>

                <div class="search">
                    <mat-form-field appearance="outline" class="selectForm">
                        <mat-label>Buscar por</mat-label>
                        <mat-select id="buscaPor" [(ngModel)]="selectedSearch" name="buscaPor">
                            <mat-option *ngFor="let item of fields" [value]="item">
                                {{ item }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="standard" class="inputForm">
                        <div class="inputSearch" *ngIf="!selectedSearch">
                            <input matInput id="searchTextDisabled" name="busca" disabled>
                            <button id="searchDisabled" mat-button #tooltip="matTooltip"
                                matTooltip="Escolha um campo para buscar">
                                <mat-icon>search</mat-icon>
                            </button>
                        </div>
                        <div class="inputSearch" *ngIf="selectedSearch">
                            <input matInput id="searchText" name="busca" [(ngModel)]="inputedValue" placeholder="Buscar"
                                autofocus #txt>
                            <button id="search" mat-button (click)="searchFilter(txt.value)">
                                <mat-icon>search</mat-icon>
                            </button>
                        </div>
                    </mat-form-field>
                </div>
            </div>

            <div class="selectors">
                <mat-label>Agrupar</mat-label>

                <div class="grouping-selector">
                    <mat-form-field appearance="outline" class="selectForm">
                        <mat-label>Ambiente</mat-label>
                        <mat-select id="ambiente" [(ngModel)]="selectedEnvironment" name="ambiente"
                            (selectionChange)="groupEvents()">
                            <mat-option *ngFor="let item of environments" [value]="item">
                                {{ item }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="selectForm">
                        <mat-label>Ordenar por</mat-label>
                        <mat-select id="ordem" [(ngModel)]="selectedOrderby" name="ordem"
                            (selectionChange)="groupEvents()">
                            <mat-option *ngFor="let item of orderFields" [value]="item">
                                {{ item }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <button mat-button (click)="limpar()">Limpar
                <mat-icon>close</mat-icon>
            </button>

        </div>
    </mat-card-subtitle>
    <mat-card-content>


        <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="eventID">
                <mat-header-cell *matHeaderCellDef>Event ID </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.eventID}} </mat-cell>
            </ng-container>


            <ng-container matColumnDef="level">
                <mat-header-cell *matHeaderCellDef> Level </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.level}} </mat-cell>
            </ng-container>


            <ng-container matColumnDef="log">
                <mat-header-cell *matHeaderCellDef> Exceção </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.log}} </mat-cell>
            </ng-container>


            <ng-container matColumnDef="environment">
                <mat-header-cell *matHeaderCellDef> Ambiente </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.environment}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="origin">
                <mat-header-cell *matHeaderCellDef> Origem </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.origin}} </mat-cell>
            </ng-container>

            <div *ngIf="selectedEnvironment">
                <ng-container matColumnDef="frequency">
                    <mat-header-cell *matHeaderCellDef> Frequência </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.frequency || 0}} </mat-cell>
                </ng-container>
            </div>

            <div *ngIf="!selectedEnvironment">
                <ng-container matColumnDef="details">
                    <mat-header-cell *matHeaderCellDef> Detalhes </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button mat-button (click)="getEventDetails(element.eventID)">
                            <i class="material-icons" style="color:#52216E">info</i>
                        </button>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="archive">
                    <mat-header-cell *matHeaderCellDef> Arquivar </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <ng-container *ngIf="!element.archived">
                            <button mat-button (click)="archiveEvent(element.eventID)">
                                <i class="material-icons" style="color:#F54F4F">archive</i>
                            </button>
                        </ng-container>
                        <ng-container *ngIf="element.archived">
                            <button mat-button disabled>
                                <i class="material-icons" style="color:#FFD3A3">unarchive</i>
                            </button>
                        </ng-container>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="delete">
                    <mat-header-cell *matHeaderCellDef> Remover </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button mat-button (click)="deleteEvent(element.eventID)">
                            <i class="material-icons" style="color:#BF2651">delete</i>
                        </button>
                    </mat-cell>
                </ng-container>
            </div>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>


    </mat-card-content>
</mat-card>