.main-content{
    height: 50%;    
}

.main-content a{
    font-weight: bolder;    
    color: white;    
}

.content{
    background: rgb(235,112,4);
    background: linear-gradient(105deg, rgba(235,112,4,0.6895133053221288) 2%, rgba(161,56,91,0.8547794117647058) 13%, rgba(149,46,106,0.8855917366946778) 20%, rgba(124,25,82,0.8995973389355743) 54%, rgba(173,51,122,0.8883928571428571) 82%, rgba(235,112,4,1) 96%);
    
    height: 100%;
    padding: 0;
    margin: 0;
    color: white;
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
    flex: 1;
}