.card-subtitle{
    display: flex;
    justify-content: space-between;
}

.card-title{
    display: flex;
    flex-direction: column;
}

.level-icons{
    display:flex;
    align-items: baseline;    
}

.card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}